# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [50]:
import pandas as pd
import numpy as np
import re

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [12]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [12]:
# Count by hand. (lol kidding)
print(len(df_food))

125

What are the columns and their types in this data set?

In [14]:
# Show the column names and their types.
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [32]:
# Remove ‚Äòem.
relationship_of_columns = df_food[['calories_day','weight','Gender']]
print(relationship_of_columns)


#filtering out all the alphanumeric value only keeping the characters
def filter_alpha(value):
    if isinstance(value, str):
        result = ''.join(re.findall(r'[^a-zA-Z0-9]',value))
        return result if result else np.nan
    return np.nan


is_string = df_food['weight'].apply(filter_alpha)

print(is_string)

     calories_day                    weight  Gender
0             NaN                       187       2
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
..            ...                       ...     ...
120           4.0                       156       1
121           2.0                       180       1
122           NaN                       120       1
123           4.0                       135       2
124           NaN                       135       1

[125 rows x 3 columns]
0         NaN
1         NaN
2      '   .
3          ,
4         NaN
        ...
120       NaN
121       NaN
122       NaN
123       NaN
124       NaN
Name: weight, Length: 125, dtype: object

What about `NaN`s? How many are there?

In [35]:
# Count ‚Äòem.
#We can use isna function from pandas
count_nan = df_food.isna().sum().sum()
#The first sum is going to aggregate the values into boolean values, where 1 is true 0 is false
#Second sum is going to sum all those values together
print(count_nan)

149

We gotta remove those `NaN`s‚Äïthe entire row.

In [42]:
# Drop ‚Äòem.
#We can drop all of those NaNs by using dropna
dropped_nan = df_food.dropna()
print(dropped_nan)

            GPA  Gender  breakfast  calories_chicken  calories_day  \
1         3.654       1          1               610           3.0
2           3.3       1          1               720           4.0
4           3.5       1          1               720           2.0
6           3.8       2          1               610           3.0
7           3.3       1          1               720           3.0
9           3.3       1          1               430           3.0
10          3.5       1          1               610           3.0
11        3.904       1          1               720           4.0
12          3.4       2          1               430           3.0
13          3.6       1          1               610           3.0
14          3.1       2          1               610           3.0
17          3.6       2          1               430           3.0
18          3.4       1          1               720           3.0
20          3.3       2          1               610           3.0
22          3.7       2          1               610           3.0
23          3.7       2          2               610           3.0
25          2.8       1          2               720           3.0
26          3.7       2          1               610           2.0
27            3       2          1               610           4.0
31            4       2          1               610           3.0
34         3.65       1          1               610           3.0
35            3       1          1               610           2.0
37          3.4       1          1               720           4.0
38         3.89       1          1               610           3.0
40          3.4       2          1               430           3.0
44          3.2       1          1               610           4.0
46          3.8       2          1               430           2.0
51          3.3       2          1               610           4.0
54          3.5       2          1               610           3.0
56          3.8       2          1               720           4.0
57          2.8       1          1               610           4.0
58          3.5       1          1               610           3.0
60          3.6       1          1               610           4.0
62          3.9       2          1               610           4.0
64          3.5       1          1               610           3.0
67          3.6       1          1               610           2.0
68          3.2       1          1               430           3.0
70         3.73       1          1               610           3.0
73   3.79 bitch       2          1               720           4.0
75            3       1          1               610           3.0
76          3.7       1          2               610           3.0
77          3.1       2          2               265           2.0
78            3       1          1               720           3.0
79          3.9       2          1               720           3.0
81          3.5       1          2               610           3.0
84         3.83       1          1               720           3.0
85          2.6       1          1               265           3.0
86            3       1          1               610           3.0
87          3.2       2          1               720           3.0
91          3.8       1          2               610           2.0
96         3.92       2          1               430           3.0
103         3.7       1          1               610           3.0

     calories_scone  coffee  \
1             420.0       2
2             420.0       2
4             420.0       2
6             420.0       2
7             420.0       1
9             315.0       2
10            980.0       2
11            420.0       2
12            420.0       2
13            420.0       2
14            420.0       2
17            980.0       2
18            980.0       1
20            980.0       2
22            420.0       1
23            420.0       2
25            420.0       2
26            420.0       1
27            980.0       2
31            420.0       2
34            420.0       2
35            420.0       2
37            420.0       2
38            980.0       2
40            315.0       1
44            420.0       2
46            420.0       1
51            980.0       1
54            420.0       2
56            315.0       2
57            980.0       2
58            420.0       2
60            420.0       2
62            980.0       2
64            420.0       1
67            420.0       1
68            315.0       1
70            980.0       2
73            420.0       2
75            420.0       2
76            420.0       1
77            420.0       1
78            420.0       2
79            420.0       2
81            420.0       1
84            420.0       2
85            315.0       2
86            420.0       2
87            420.0       1
91            420.0       2
96            420.0       2
103           420.0       2

                                          comfort_food  \
1                          chocolate, chips, ice cream
2                      frozen yogurt, pizza, fast food
4                         Ice cream, chocolate, chips
6         Chocolate, ice cream, french fries, pretzels
7                     Ice cream, cheeseburgers, chips.
9                Mac and cheese, chocolate, and pasta
10   Pasta, grandma homemade chocolate cake anythin...
11              chocolate, pasta, soup, chips, popcorn
12                         Cookies, popcorn, and chips
13                          ice cream, cake, chocolate
14     Pizza, fruit, spaghetti, chicken and Potatoes
17                           chips, cookies, ice cream
18                                Chocolate, ice crea
20                              Fast food, pizza, subs
22                             burgers, chips, cookies
23                               Chilli, soup, pot pie
25             chocolate, ice cream/milkshake, cookies
26              Chips, ice cream, microwaveable foods
27                             Chicken fingers, pizza
31                              chips and dip, pepsi,
34                      french fries, chips, ice cream
35   mac n cheese, peanut butter and banana sandwic...
37                             chocolate, chips, candy
38                       chocolate, popcorn, ice cream
40          Pizza, Ice cream, fries, cereal, cookies
44         Potato chips, ice cream, chocolate, cookies
46                     popcorn, chips, candy, & fries
51                                              Burger
54      peanut butter sandwich, pretzals, garlic bread
56                     Pizza, Ice Cream, Chicken Wings
57             Pizza chocolate chips bagels ice Capps
58                         Chocolate, ice cream, pasta
60                  peanut butter, dessets, pretzels.
62                       ice cream, cookies, ice cream
64         cookies, nutella, ice cream, coffee, fruit
67      Ice cream, cake, mozzarella sticks, pierogies
68         Chips, Mac and cheese, pizza, French fries
70   Broccoli, spaghetti squash, quinoa, and grille...
73                                    Chips, ice cream
75   mac and cheese, potato soup, ice cream, chips ...
76               chocolate, pizza, and mashed potatoes
77                                Pizza cookies steak
78                     chocolate, fruit, and ice cream
79                                Chips sweets popcorn
81                 cake, French fries, chicken nuggets
84                  Pasta dishes, Cheesecake, Pancakes
85                           Ice cream, pizza, cookies
86   Chinese food, moes, sponge candy, homemade las...
87                        pizza, pasta, mac and cheese
91     Macaroni and cheese, chicken noodle soup, pizza
96        Ice cream, cake, pop, pizza, and milkshakes.
103  dark chocolate, terra chips, reese's cups(dark...

                                  comfort_food_reasons  \
1                                 Stress, bored, anger
2                                      stress, sadness
4                           Stress, boredom, cravings
6                                      stress, boredom
7    I eat comfort food when im stressed out from s...
9                           Stress, anger and sadness
10                                            Boredom
11                       sadness, stress, cold weather
12                 Sadness, boredom, late night snack
13                 stress,  boredom, special occasions
14                    Friends, environment and boredom
17   I usually only eat comfort food when I'm bored...
18                                     Sadness, stress
20                             happiness, satisfaction
22                                sadness, depression
23                                 Stress and boredom
25                                             boredom
26                                  Boredom, lazyniss
27                                            Boredom
31                       stres, boredom, and nighttime
34                              boredom, stressed, sad
35                                     Boredom usually
37                                              Stress
38                                     boredom, stress
40                   Usually if I'm sad or depressed.
44                            Stress, boredom, craving
46                          sadness, boredom, & anger
51                                                Lazy
54                           stress, anger and boredom
56   I usually only eat comfort foods when I am bor...
57                                         Just cause
58                            Stress, boredom, sadness
60                           Sadness, boredom, lonely.
62                                    boredom, sadness
64                          Bordem, happiness, sadness
67                                             Boredom
68                             Stress, sadness, bored
70                             Bad day, bored, sadness
73                                     Boredom, stress
75                          sadness, stressed, boredom
76                                  boredom and stress
77                             Boredom comfort hunger
78                                     stress, boredom
79                                             Boredom
81                                    boredom, sadness
84                        Sadness, Loneliness, Boredom
85                                       Mostly Stress
86                                   boredom, sadness
87                            when i am sad or craving
91                                  Boredom and stress
96                    Happiness, sadness, celebration.
103  Anxiousness, watching TV I desire "comfort food"

     comfort_food_reasons_coded  ...  soup  sports  thai_food  \
1                           1.0  ...   1.0     1.0          2
2                           1.0  ...   1.0     2.0          5
4                           1.0  ...   1.0     1.0          4
6                           1.0  ...   1.0     1.0          5
7                           1.0  ...   1.0     2.0          1
9                           1.0  ...   1.0     1.0          4
10                          2.0  ...   1.0     1.0          2
11                          3.0  ...   1.0     1.0          5
12                          3.0  ...   2.0     1.0          3
13                          1.0  ...   1.0     1.0          5
14                          2.0  ...   1.0     1.0          4
17                          2.0  ...   1.0     1.0          3
18                          3.0  ...   2.0     2.0          1
20                          7.0  ...   1.0     1.0          1
22                          3.0  ...   1.0     1.0          4
23                          1.0  ...   1.0     1.0          4
25                          2.0  ...   1.0     1.0          3
26                          2.0  ...   2.0     1.0          2
27                          2.0  ...   1.0     1.0          3
31                          1.0  ...   2.0     2.0          4
34                          2.0  ...   1.0     1.0          3
35                          2.0  ...   1.0     1.0          2
37                          1.0  ...   1.0     1.0          5
38                          2.0  ...   1.0     1.0          2
40                          3.0  ...   1.0     1.0          3
44                          1.0  ...   1.0     1.0          5
46                          3.0  ...   1.0     1.0          3
51                          5.0  ...   1.0     1.0          5
54                          1.0  ...   1.0     1.0          4
56                          2.0  ...   1.0     1.0          5
57                          9.0  ...   2.0     1.0          2
58                          1.0  ...   1.0     1.0          5
60                          3.0  ...   1.0     1.0          1
62                          2.0  ...   1.0     1.0          2
64                          2.0  ...   2.0     1.0          3
67                          2.0  ...   1.0     1.0          2
68                          1.0  ...   1.0     1.0          4
70                          2.0  ...   1.0     1.0          5
73                          2.0  ...   1.0     1.0          2
75                          3.0  ...   1.0     2.0          4
76                          2.0  ...   2.0     1.0          1
77                          2.0  ...   2.0     1.0          2
78                          1.0  ...   1.0     1.0          3
79                          2.0  ...   1.0     1.0          5
81                          2.0  ...   2.0     1.0          4
84                          3.0  ...   1.0     1.0          5
85                          1.0  ...   1.0     2.0          3
86                          2.0  ...   1.0     1.0          4
87                          3.0  ...   1.0     1.0          1
91                          2.0  ...   1.0     2.0          1
96                          7.0  ...   1.0     2.0          3
103                         8.0  ...   1.0     2.0          3

    tortilla_calories  turkey_calories  \
1               725.0              690
2              1165.0              500
4               940.0              500
6               940.0              690
7               725.0              500
9               580.0              345
10              940.0              345
11              940.0              500
12              940.0              500
13             1165.0              850
14              940.0              500
17              940.0              500
18             1165.0              690
20             1165.0              850
22              940.0              850
23              940.0              690
25             1165.0              690
26             1165.0              850
27             1165.0              500
31              940.0              690
34              940.0              345
35              940.0              690
37              940.0              500
38             1165.0              690
40              940.0              500
44              725.0              500
46              725.0              345
51             1165.0              500
54              940.0              690
56             1165.0              500
57              725.0              345
58             1165.0              690
60             1165.0              690
62             1165.0              850
64              940.0              500
67              940.0              690
68              725.0              500
70             1165.0              500
73             1165.0              850
75              940.0              500
76             1165.0              690
77              725.0              345
78              580.0              345
79             1165.0              850
81              725.0              500
84              725.0              690
85              580.0              500
86              580.0              500
87             1165.0              690
91              725.0              500
96              725.0              500
103             725.0              345

                                           type_sports veggies_day  vitamins  \
1                                          Basketball            4         2
2                                                 none           5         1
4                                             Softball           4         2
6                                               soccer           4         1
7                                                 none           4         2
9                                         field hockey           5         1
10                                              soccer           5         2
11                                             Running           5         1
12                              Soccer and basketball            3         2
13                               intramural volleyball           5         2
14                                              Hockey           5         1
17                                              hockey           4         2
18                                            dancing            5         1
20                                              Soccer           3         2
22                                   tennis soccer gym           3         1
23                                     Gaelic Football           4         1
25                                          Ice hockey           3         2
26                                              Hockey           3         2
27                                           Lacrosse            5         1
31                                      none organized           5         1
34                                            softball           4         1
35                                            Lacrosse           5         2
37                                             Dancing           4         2
38                                            Lacrosse           3         2
40                                          wrestling            4         2
44                                          Volleyball           5         1
46                                             soccer            4         2
51                                              Hockey           4         1
54                                              hockey           5         1
56                                              Hockey           5         1
57                                            softball           4         1
58                                              Skiing           5         1
60                             Water polo and running            5         1
62                                          Ice Hockey           4         1
64                                          Volleyball           5         1
67            Recreational Basketball, Equestrian Team           5         2
68                                              soccer           5         2
70                                      Rec Volleyball           5         1
73                                            baseball           4         1
75                             I danced in high school           4         1
76                                   horse back riding           2         2
77                                         Basketball            2         2
78                                  competitive skiing           4         1
79                        Rowing, Running, and Cycling           4         2
81                             softball and basketball           2         2
84                               Collegiate Water Polo           5         1
85                                      None right now           4         1
86                                volleyball, lacrosse           4         1

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [49]:
# Fix that.
#First we can use .to_numeric() to handle each columns into numeric values (that are necessary) and give all those non-numeric a NaN 
df_food['GPA'] = pd.to_numeric(df_food['GPA'], errors='coerce')
df_food['weight'] = pd.to_numeric(df_food['weight'], errors='coerce')
df_food['weight'].dropna()
df_food['GPA'].dropna()

0      2.400
1      3.654
2      3.300
3      3.200
4      3.500
       ...
120    3.500
121    3.000
122    3.882
123    3.000
124    3.900
Name: GPA, Length: 120, dtype: float64

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [56]:
# Savey save!
#Lets save it to pickle since it's the most dumped and loaded file format
df_food.to_json('corrected_food_coded')

df_food['calories_day'].dropna()
df_food.to_json('corrected_food_coded')

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [3]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
data_to_read = 'data/Ask_A_Manager_Salary_Survey.tsv'
df_salary = pd.read_csv(data_to_read, sep='\t')
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28062 entries, 0 to 28061
Data columns (total 18 columns):
 #   Column                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                --------------  -----
 0   Timestamp                                                                                                                                                                                                                             28062 non-null  object
 1   How old are you?                                                                                                                                                                                                                      28062 non-null  object
 2   What industry do you work in?                                                                                                                                                                                                         27988 non-null  object
 3   Job title                                                                                                                                                                                                                             28061 non-null  object
 4   If your job title needs additional context, please clarify here:                                                                                                                                                                      7262 non-null   object
 5   What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  28062 non-null  object
 6   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                        20766 non-null  float64
 7   Please indicate the currency                                                                                                                                                                                                          28062 non-null  object
 8   If "Other," please indicate the currency here:                                                                                                                                                                                        206 non-null    object
 9   If your income needs additional context, please provide it here:                                                                                                                                                                      3042 non-null   object
 10  What country do you work in?                                                                                                                                                                                                          28062 non-null  object
 11  If you're in the U.S., what state do you work in?                                                                                                                                                                                     23039 non-null  object
 12  What city do you work in?                                                                                                                                                                                                             27980 non-null  object
 13  How many years of professional work experience do you have overall?                                                                                                                                                                   28062 non-null  object
 14  How many years of professional work experience do you have in your field?                                                                                                                                                             28062 non-null  object
 15  What is your highest level of education completed?                                                                                                                                                                                    27840 non-null  object
 16  What is your gender?                                                                                                                                                                                                                  27891 non-null  object
 17  What is your race? (Choose all that apply.)                                                                                                                                                                                           27885 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.9+ MB

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [19]:
# Count by hand. I‚Äôm dead serious.
len(df_salary)

28062

What are the columns and their types?

In [77]:
# Show the column names and their types.
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28062 entries, 0 to 28061
Data columns (total 16 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Timestamp                                                                  28062 non-null  object
 1   Age                                                                        28062 non-null  object
 2   Additional Job Title                                                       7262 non-null   object
 3   Annual Salary                                                              28062 non-null  object
 4   Additional Compensation                                                    20766 non-null  float64
 5   The currency                                                               28062 non-null  object
 6   Other currency                                                             206 non-null    object
 7   Additional Income Context                                                  3042 non-null   object
 8   What country do you work in?                                               28062 non-null  object
 9   If you're in the U.S., what state do you work in?                          23039 non-null  object
 10  What city do you work in?                                                  27980 non-null  object
 11  Overall Professional Experience                                            28062 non-null  object
 12  How many years of professional work experience do you have in your field?  28062 non-null  object
 13  What is your highest level of education completed?                         27840 non-null  object
 14  What is your gender?                                                       27891 non-null  object
 15  What is your race? (Choose all that apply.)                                27885 non-null  object
dtypes: float64(1), object(15)
memory usage: 3.4+ MB

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [6]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
df_salary = df_salary.rename(columns={
    "If you're in the U.S., what state do you work in?" : 'Stated worked in, if in the U.S.',
    'What is your highest level of education completed?': 'Highest Level Education',
    'How old are you?' : 'Age',
    'What industry do you work in?' : "Industry Working In",
    "Please indicate the currency" : "The currency",
    "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)" : 'Annual Salary',
    'If your job title needs additional context, please clarify here:' : 'Additional Job Title',
    'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.': "Additional Compensation",
    'If "Other," please indicate the currency here: ': 'Other currency',
    "If your income needs additional context, please provide it here:": 'Additional Income Context',
    'How many years of professional work experience do you have overall?': "Overall Professional Experience"})

df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28062 entries, 0 to 28061
Data columns (total 18 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Timestamp                                                                  28062 non-null  object
 1   Age                                                                        28062 non-null  object
 2   Industry Working In                                                        27988 non-null  object
 3   Job title                                                                  28061 non-null  object
 4   Additional Job Title                                                       7262 non-null   object
 5   Annual Salary                                                              28062 non-null  object
 6   Additional Compensation                                                    20766 non-null  float64
 7   The currency                                                               28062 non-null  object
 8   Other currency                                                             206 non-null    object
 9   Additional Income Context                                                  3042 non-null   object
 10  What country do you work in?                                               28062 non-null  object
 11  Stated worked in, if in the U.S.                                           23039 non-null  object
 12  What city do you work in?                                                  27980 non-null  object
 13  Overall Professional Experience                                            28062 non-null  object
 14  How many years of professional work experience do you have in your field?  28062 non-null  object
 15  Highest Level Education                                                    27840 non-null  object
 16  What is your gender?                                                       27891 non-null  object
 17  What is your race? (Choose all that apply.)                                27885 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.9+ MB

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [14]:
# List the unique industries and a count of their instances.
industries_count = df_salary['Industry Working In'].value_counts()

unique_industries = industries_count[industries_count == 1]


print(len(unique_industries))

977

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [30]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
top_five_industries = df_salary['Industry Working In'].value_counts().head(5).index
df_salary_tech = df_salary[df_salary['Industry Working In'].isin(top_five_industries)]
df_salary_tech

,Timestamp,Age,Industry Working In,Job title,Additional Job Title,Annual Salary,Additional Compensation,The currency,Other currency,Additional Income Context,What country do you work in?,"Stated worked in, if in the U.S.",What city do you work in?,Overall Professional Experience,How many years of professional work experience do you have in your field?,Highest Level Education,What is your gender?,What is your race? (Choose all that apply.),unique_industries
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,NaN
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,NaN
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,NaN
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,USA,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White,NaN
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28053,7/12/2024 18:23:10,18-24,Nonprofits,Adminstration Specialist,NaN,1641,NaN,CAD,NaN,NaN,Taiwan,NaN,Taipei,1 year or less,1 year or less,NaN,Man,Asian or Asian American,NaN
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,United States,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White,NaN
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White,NaN
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American,NaN
28061,8/20/2024 1:06:13,25-34,Health care,Clinical physiologist,NaN,1200000,NaN,Other,NGN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American,NaN

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [33]:
# Sanity Check 
unique_check = df_salary_tech['Industry Working In'].unique()
print(unique_check)

['Education (Higher Education)' 'Computing or Tech' 'Nonprofits'
 'Health care' 'Government and Public Administration']

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [39]:
# Filtery filter for just the jobs that pay in USD!
jobs_in_usd = df_salary[df_salary['The currency'] == 'USD']
jobs_in_usd

,Timestamp,Age,Industry Working In,Job title,Additional Job Title,Annual Salary,Additional Compensation,The currency,Other currency,Additional Income Context,What country do you work in?,"Stated worked in, if in the U.S.",What city do you work in?,Overall Professional Experience,How many years of professional work experience do you have in your field?,Highest Level Education,What is your gender?,What is your race? (Choose all that apply.),unique_industries
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,NaN
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,NaN
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,NaN
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White,NaN
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,USA,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White,NaN
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,United States,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White,NaN
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White,NaN
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,Myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American,NaN
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American,NaN

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [45]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
jobs_in_usd = df_salary[df_salary['The currency'] == 'USD']
unique_country_usd = jobs_in_usd['What country do you work in?'].value_counts().head()
unique_country_usd

What country do you work in?
United States     8989
USA               7922
US                2606
United States      667
U.S.               580
Name: count, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [48]:
# Replace them all with 'US'.
df_salary.loc[df_salary['The currency'] == 'USD', 'What country do you work in?'] = 'US'

,Timestamp,Age,Industry Working In,Job title,Additional Job Title,Annual Salary,Additional Compensation,The currency,Other currency,Additional Income Context,What country do you work in?,"Stated worked in, if in the U.S.",What city do you work in?,Overall Professional Experience,How many years of professional work experience do you have in your field?,Highest Level Education,What is your gender?,What is your race? (Choose all that apply.),unique_industries
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,NaN
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,NaN
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,NaN
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,US,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,NaN
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,US,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White,NaN
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White,NaN
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,US,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American,NaN
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,US,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American,NaN
28061,8/20/2024 1:06:13,25-34,Health care,Clinical physiologist,NaN,1200000,NaN,Other,NGN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American,NaN

Have a look at the count of each unique country again now.

In [56]:
# Count again.
len(df_salary[df_salary['What country do you work in?'] == 'US'])

23378

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:
# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [ ]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [ ]:
# Fix it.

Let‚Äôs try that again.

In [ ]:
# Try it again. Yeah!

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)